# Node modules
node_modules/

# Android build outputs
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.cxx/
android/.idea/

# iOS build outputs
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserdata
ios/.idea/

# Git & IDE
.git/
.vscode/
.cursor/
.idea/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Archives
*.tar.gz
*.zip
*.tmp
*.cache
